<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 2</title>
</head>

<body>

    <div class="news-content">
        <h2 class="news-text">AC MILAN VS. LAZIO, THREE POINTS FOR EUROPE</h2>
    </div>

    <div class="news-article">
        <div class="news-article-box">
            <h1>AC Milan will look to put their recent defeats behind them as they host Lazio: both sides will aim for points to boost their bids for Champions League qualification.</h1><br>
            <p>AC Milan vs Lazio will bring Sunday's action on Serie A Envilive matchday 27 to an end.</p><br>
            <p>The Rossoneri, following their two defeats to Torino and Bologna, the latter in their replayed matchday nine game, have to win to ensure that they do not slip down in the standings in the fight for Europe.</p><br>
            <p>Lazio will also aim to get back to winning ways after consecutive draws against Napoli and Venezia, in a bit to secure fourth spot for the time being. </p><br><br>

            <h2><b>HEAD-TO-HEAD</b></h2><br>
            <p>Milan have avoided defeat in six of their last seven league matches against Lazio (W5 D1), with the Biancocelesti`s only victory in this period coming on 24 January 2023 (4-0 at the Olimpico).</p><br>
            <p>After the 2-2 draw in reverse fixture on August 31st, Milan and Lazio could draw both seasonal Serie A matches for the first time since 2013-14.</p><br>
            <p>Milan have avoided defeat in 33 of their last 34 home games against Lazio in Serie A (W22 D11). The only win for the Biancocelesti away against the Rossoneri in this period dates back to 3 November 2019 (2-1, with goals from Immobile and Correa).</p><br>
        </div>
    </div>

</body>

</html>