<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 2</title>
</head>

<body>

    <div class="container">
        <article>
            <h2>Stet falicis ius te</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat quam assumenda impedit maxime aperiam natus, illo expedita sed voluptate aspernatur! Cum magni necessitatibus facilis vel quasi assumenda eos, quaerat maiores?</p>
        </article>
        <article>
            <h2>Stet falicis ius te</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat quam assumenda impedit maxime aperiam natus, illo expedita sed voluptate aspernatur! Cum magni necessitatibus facilis vel quasi assumenda eos, quaerat maiores?</p>
        </article>
    </div>

</body>

</html>